{{define "view"}}
<form hx-post="/calculate">

    <fieldset class="grid">

        <div>
            <input name="income" placeholder="Gross income" aria-label="Gross income"
            {{if .Errors.income}}
                aria-invalid="true" aria-describedby="invalid-helper"
            {{end}}
            required />

            {{with .Errors.income}}
            <small id="invalid-helper">
                {{.}}
            </small>
            {{end}}
        </div>
    
        <div>
            <select name="period" aria-label="Period" required>
                <option selected>Year</option>
                <option>Month</option>
                <option>Week</option>
            </select>
        </div>
        
    </fieldset>

    <input type="submit" value="Calculate" class="secondary" />

</form>
{{end}}